.appointment__successPopUp.successPopUp
    .popUp__wrapper.popUp__wrapper--success
        h2.successPopUp__title.appointment__title Это успех!
        p.successPopUp_text Ваша заявка отправлена. Ожидайте, мы свяжемся с вами как только будет минутка.
        button(class='successPopUp__button button' type='submit' name='close-popUp') Закрыть окно