.appointment__failurePopUp.failurePopUp
    .popUp__wrapper.popUp__wrapper--failure
        h2.failurePopUp__title.appointment__title Неудача
        p.failurePopUp__text Что-то пошло не так. Проверьте выделенные красным поля формы.
        button(class='failurePopUp__button button' type='submit' name='ok') Ок