section.appointment__contacts
    h3.visually-hidden Контактные данные и доп. информация для мастера
    label(class='visually-hidden' for='client-phone') Контактный телефон
    input(class='appointment__phone phone' type='tel' name='phone' placeholder='Контактный телефон' id='client-phone')

    label(class='visually-hidden' for='client-email') Контактный e-mail
    input(class='appointment__email email' type='email' name='email' placeholder='Контактный e-mail' id='client-email')