section.appointmentExtraServices
    h3.appointmentExtraServices__title.inner-title Дополнительные услуги:

    .extraServices__list
        .extraServices__item.color-beard
            input(class='extraServices__checkbox' type='checkbox' name='color' id='color-beard' checked)
            label(class='extraServices__label' for='color-beard') Подкрасить бороду

        .extraServices__item.comb-beard
            input(class='extraServices__checkbox' type='checkbox' name='comb' id='comb-beard')
            label(class='extraServices__label' for='comb-beard') Причесать бороду

        .extraServices__item.remove-gray
            input(class='extraServices__checkbox' type='checkbox' name='remove' id='remove-gray')
            label(class='extraServices__label' for='remove-gray') Убрать седину

        .extraServices__item.curl-mustache
            input(class='extraServices__checkbox' type='checkbox' name='curl' id='curl-mustache')
            label(class='extraServices__label' for='curl-mustache') Накрутить усы

        .extraServices__item.cut-templs
            input(class='extraServices__checkbox' type='checkbox' name='cut' id='cut-templs')
            label(class='extraServices__label' for='cut-templs') Подровнять виски

        .extraServices__item.polish-baldness
            input(class='extraServices__checkbox' type='checkbox' name='polish' id='polish-baldness')
            label(class='extraServices__label' for='polish-baldness') Отполировать лысину
