section.appointment__names
    h3.visually-hidden ФИО
    label(class='visually-hidden' for='client-Fname') Имя
    input(class='appointment__firstName firstName' type='text' name='firstName' placeholder='Имя' id='client-Fname' autofocus)

    label(class='visually-hidden' for='client-Sname') Фамилия
    input(class='appointment__secondName secondName' type='text' name='secondName' placeholder='Фамилия' id='client-Sname')
        
    label(class='visually-hidden' for='client-Mname') Отчество
    input(class='appointment__middleName middleName' type='text' name='middleName' placeholder='Отчество' id='client-Mname')