section.appointment__info
    h3.visually-hidden Дополнительная информация для мастера
    label(class='visually-hidden' for='info-for-master')
    textarea(class='appointment__info info' name='info' placeholder='Доп. информация для мастера' id='info-for-master' rows='10')