footer.footer
    .footer__contactsBlock.contactsBlock
        .wrapperMain.wrapper-mobile
            p.contactsBlock__question Остались вопросы? Свяжитесь с нами!
            .contactsBlock__contactsList
                .contactsBlock__contactsItem.phone
                    p.contactsBlock__title.callUs Звоните:
                    p.contactsBlock__info.phoneNumber +7(812) 555-66-66
                .contactsBlock__contactsItem.address
                    p.contactsBlock__title.comeUs Приезжайте в гости:
                    p.contactsBlock__info.street ул. Большая Конюшенная, 19/8
                .contactsBlock__contactsItem.email
                    p.contactsBlock__title.writeUs Пишите:
                    p.contactsBlock__info.emailAddress mail@htmlacademy.ru
    //.wing
    .footer__bottomBlock.bottomBlock
        .bottomBlock__container.wrapperMain.wrapper-mobile 
            .bottomBlock__logo.logo
                a(class='logo__link' href)
                    picture
                        source(media='(max-width: 767px)' srcset='img/logotype-white-mobile.svg')
                        source(media='(max-width: 1299px)' srcset='img/logotype-bottom-tablet.svg')
                        img(class='logo__img' src='img/logotype-bottom-desktop.svg' alt='Логотип приложения Pink')
            .bottomBlock__social.social
                ul.social__list
                    li.social__item.social__item--twi
                        a(class='social__link social__link--twi' href='http://twitter.com' aria-label='Мы в твиттере')
                    li.social__item.social__item--fb
                        a(class='social__link social__link--fb' href='http://facebook.com' aria-label='Мы в Фэйсбуке')
                    li.social__item.social__item--youtube
                        a(class='social__link social__link--youtube' href='http://youtube.com' aria-label='Мы в Ютубе')
            .bottomBlock__copyright.copyright
                p.copyright__designed Разработано
                a(class='copyright__link' href='https://htmlacademy.ru' aria-label='Перейти на сайт HTML Academy')  
                    img(class='copyright__img' src='img/htmlacademy.svg' alt='Логотип сайта HTML Academy')