footer.footer
    
    .wrapperFooter
        .footer__contacts.contacts
            p.contacts__title Барбершоп Бородинский
            p.contacts__address г. Санкт-Петербург, ул. Большая Конюшенная, 19/8
            p.contacts__phone Тел.:+7(812) 555-66-66
            a(class='contacts__phoneButton button' href='tel:+78125556666' aria-label='Позвонить в барбершоп Бородинский') +7 (812) 555-66-66

        .footer__social.social
            p.social__calling Давайте дружить!
            ul.social__list
                li.social__item
                    a(class='social__link social__link--vk' href='http://vk.com' aria-label='Мы Вконтакте')
                li.social__item
                    a(class='social__link social__link--fb' href='http://facebook.com' aria-label='Мы в Фэйсбуке')
                li.social__item
                    a(class='social__link social__link--inst' href='http://instagram.com' aria-label='Мы в Инстаграме')

        .footer__copyright.copyright
            p.copyright__designed Разработано:
            a(class='copyright__link button' href='https://htmlacademy.ru' aria-label='Перейти на сайт HTML Academy')  HTML Academy