.pricelist {
    padding: 150px 0 95px 0;

    //Этот маржин снизу нужен только для того, чтобы убрать полоску фона в 2px, которая проглядывает между секцией .pricelist и .footer из-за криво обрезанной фоновой картинки у блока .pricelist (снизу прозрачная полоска шириной 1px)
    margin: 0 0 -2px 0;

    background-image: url("../img/shape3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

//Общие стили для таблиц прайс-листа
.table {
    display: table;
    margin: 0 auto 0 auto;
    width: 89.16%;

    font-size: 18px;
    line-height: 30px;
    border-collapse: collapse;

    empty-cells: hide;

    @include media-tablet {
        width: 94%;
        font-size: 14px;
    }

    //Пришлось поставить ширину для таблицы 300% в мобильной версии, чтобы растянуть её за пределы области отображения и можно было слайдером прокручивать столбцы влево
    @include media-mobile {
        width: 300%;
    }

    &__tr {
        display: table-row;
    }

    &__th {
        display: table-cell;

        text-align: center;
        color: #ffffff;
    }

    &__td {
        display: table-cell;
        width: 25%;
        height: 60px;

        vertical-align: middle;
        text-align: center;

        background-color: #ffffff;

        @include border (#e5e5e5);

        @include media-mobile {
            width: 33%;
            padding: 0 17px 0 22px;
        }
    }

    &__check {
        @include media-mobile {
            margin: 0 0 0 15px;
        }
    }

    &__toggles {
        display: none;

        @include media-tablet {
            display: flex;
            justify-content: center;
            margin: 42px 0 0 0;
        }

        @include media-mobile {
            display: flex;
            justify-content: center;
            @include padding-margin-clear;
        }
    }
}

//Показываем таблицу для десктопной и планшетной версии, скрываем её в мобильной
.table--desktop {
    display: table;

    @include media-mobile {
        display: none;
    }
}

//Показываем таблицу для мобильной версии, скрываем её в режиме десктопа и планшета
.table--mobile {
    display: none;

    @include media-mobile {
        display: table;
    }
}

//Флекс-контейнер, чтобы разместить в ячейке на одной линии подпись и картинку (актуально для мобильной версии)
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//Позиционирование внутри ячейки и стилизация названий опций приложения (1й столбец слева)
.optionName {
    padding: 0 20px 0 24px;

    text-align: left;
    color: #283645;
}

//Позиционирование и стилизация ячеек 1й строки шапки таблицы (с названиями тарифов)
.rate {
    padding: 25px 0 10px 0;

    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: #283645;
    border-right: 2px solid #e5e5e5;

    @include media-tablet {
        font-size: 16px;
    }
}

//Позиционирование и стилизация 2й строки шапки таблицы (со стоимостью тарифов)
.cost {
    padding: 0 0 23px 0;

    font-size: 24px;
    font-weight: 300;

    background-color: #283645;
    border-right: 2px solid #e5e5e5;

    @include media-tablet {
        font-size: 18px;
    }
}