

.download {
    position: relative;
    color: #ffffff;
    z-index: 10;


    &__mainBlock {
        min-height: 645px;
        padding: 100px 0 0 0;

        background-image: url("../img/iphone-6.png");
        background-repeat: no-repeat;
        background-position: center top 100%;

        @include media-tablet {
            padding: 75px 0 0 0;
            background-image: url("../img/iphone-6-tablet.png");
            min-height: 545px;
        }

        @include media-mobile {
            //Паддинг 50px сверху + background position top 110px позволили сместить картинку с рукой так,чтобы она была расположена также, как на макете по вертикали. 
            padding: 50px 0 0 0;
            background-image: url("../img/iphone-6-mobile.png");
            background-position: right 100% top 110px;
            min-height: 314px;
            border-top: 1px solid transparent;
        }
    }

    &__textPart {
        display: flex;
        flex-direction: column;
        width: 25%;
        margin: 0 0 0 10px;

        @include media-tablet {
            width: 48%;
            @include padding-margin-clear;
        }

        @include media-mobile {
            width: auto;
            @include padding-margin-clear;
            background-color: #1d2631;
            margin: 350px 0 0 0;
        }
    }

    &__slogan {
        color: white;
        font-size: 50px;
        font-weight: 300;
        text-align: center;
        margin: 20px 0 40px 0;

        @include media-mobile {
            display: none;
        }
    }

    &__button {
        @include media-mobile {
            margin: 28px 20px 0 20px;
        }
    }

    &__iconSet {
        display: flex;
        justify-content: space-around;
        margin: 46px 0 42px 0;

        @include media-mobile {
            justify-content: space-evenly;
        }
    }

    &__text {
        @include padding-margin-clear;
        text-align: center;
        font-size: 18px;
        line-height: 24px;

        @include media-mobile {
            margin: 0 14%;
            padding: 0 0 35px 0;
        }
    }
}