.feedback {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 195px 0 44px 0;

    background-color: #ffffff;

    background-image: url("../img/quotes.svg");
    background-position: 50% 25%;
    background-repeat: no-repeat;

    @include media-tablet {
        padding: 107px 0 0 0;
        background-image: none;
    }

    @include media-mobile {
        padding: 51px 0 43px 0;
        background-image: none;
    }

    &__wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 1200px;
    }

    &__list {
        display: flex;
        width: 100%;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-shrink: 0;
        flex-grow: 1;
        margin: 0;

        @include media-tablet {
            box-sizing: border-box;
        }
    }

    &__text {
        flex-grow: 1;
        min-height: 158px;
        @include padding-margin-clear;
        text-align: center;

        @include media-tablet {}

        @include media-mobile {
            min-height: 0;

        }
    }

    &__comment {
        @include standard-fs-lh;
        padding: 0;
        margin: 0 0 45px 0;

        @include media-mobile {
            margin: 25px 0 39px 0;
        }
    }

    &__authorsName {
        font-size: 24px;
        line-height: 27px;
    }

    &__authorsName--top {
        display: none;

        @include media-mobile {
            display: block;
        }
    }

    &__authorsName--bottom {
        display: block;

        @include media-mobile {
            display: none;
        }
    }

    &__authorsDescription {
        margin: 11px 0 0 0;

        @include media-tablet {
            margin: 19px 0 0 0;
        }

        @include media-mobile {
            display: none;
        }
    }

    &__toggles {
        display: none;

        @include media-tablet {
            display: flex;
            justify-content: center;
            margin: 42px 0 0 0;
        }

        @include media-mobile {
            display: flex;
            justify-content: center;
            @include padding-margin-clear;
        }
    }

    &__arrowButton {
        width: 48px;
        height: 160px;

        background-color: #dd3b71;
        outline: none;
        border: none;

        cursor: pointer;

        @include media-tablet {
            display: none;
        }

        @include media-mobile {
            display: none;
        }
    }
}

.feedbackArrow__text {
    font-size: 0;

    &::after {
        content: "";

        display: inline-block;

        width: 22px;
        height: 41px;

        background-size: cover;
        background-position: 50% 0%;
    }

    &--left::after {
        background-image: url("../img/left-arrow.svg");
        background-size: cover;
        background-position: 50% 0%;
    }

    &--right::after {
        background-image: url("../img/right-arrow.svg");
        background-size: cover;
        background-position: 50% 0%;
    }
}

.sliderwrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 105px;

    @include media-tablet {
        @include padding-margin-clear;
    }

    @include media-mobile {
        @include padding-margin-clear;
    }
}

.slider__toggle {
    transform: rotate(45deg);
    @include same-size(20px);
    border: 1px solid #878684;
    z-index: 1000;

    &:not(:last-child) {
        margin: 0 23px 20px 0;
    }
}