.opportunities {
    min-height: 830px;
    @include padding-margin-clear;
    border: 1px solid transparent;
    background-color: #ffffff;
    background-image: url("../img/shape2.png");
    background-repeat: no-repeat;
    background-position-y: 235px;
    background-size: cover;

    @include media-tablet {
        min-height: 700px;
        background-position-y: 200px;
    }

    @include media-mobile {
        min-height: 700px;
        background-position-y: 218px;
    }

    &__questionAnswer {
        font-size: 50px;
        font-weight: 300;
        text-align: center;
    }

    &__list {
        min-height: 450px;
        padding: 0;
        margin: 50px 0 0 0;
        display: flex;
        justify-content: space-between;

        @include media-tablet {
            flex-direction: column;
            background-image: url("../img/iphone-empty-tablet.png");
            background-repeat: no-repeat;
            //Такой background-position позволил в планшетной версии разместить фоновый айфон также как на макете (с обрезкой снизу и прижат к левому краю)
            background-position: right 100% top 0%;
            background-size: auto;
        }

        @include media-mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        list-style: none;

        @include media-tablet {
            margin: 0 0 0 auto;
            width: 50%;
        }

        @include media-mobile {
            max-width: 450px;
        }
    }

    &__item--mood {
        background-image: url("../img/iphone-empty-desktop.png");
        background-repeat: no-repeat;
        background-position-x: 50%;

        @include media-tablet {
            background-image: none;
            margin-top: 50px;
        }

        @include media-mobile {
            background-image: none;
        }
    }

    &__item--world {
        background-image: url("../img/iphone-empty-desktop.png");
        background-repeat: no-repeat;
        background-position-x: 50%;

        @include media-tablet {
            background-image: none;
        }

        @include media-mobile {
            background-image: none;
        }
    }

    &__item--friends {
        background-image: url("../img/iphone-empty-desktop.png");
        background-repeat: no-repeat;
        background-position-x: 50%;

        @include media-tablet {
            background-image: none;
        }

        @include media-mobile {
            min-height: 530px;
            background-position: right 50% top 140%;
        }
    }

    &__textBlock {
        min-height: 150px;
        margin-top: 300px;
        background-color: #f2f2f2;

        @include media-tablet {
            min-height: 0;
            margin-top: 0;
            background: none;
        }

        @include media-mobile {
            min-height: 0;
            margin-top: 0;
            background: none;
        }
    }

    &__title {
        padding: 40px 20% 0 18%;
        font-size: 30px;
        font-weight: bold;
        text-align: center;

        @include media-tablet {
            padding: 0;
            text-align: left;
            font-size: 20px;
        }

        @include media-mobile {
            padding: 0;
        }
    }

    &__text {
        padding: 0 22% 0 22%;
        text-align: center;

        @include media-tablet {
            padding: 0;

            text-align: left;
        }

        @include media-mobile {
            padding: 0;
        }
    }
}