.download {
    position: relative;
    color: #ffffff;
    z-index: 10;

    &__mainBlock {
        position: absolute;
        top: - 645px;
        width: auto;
        min-height: 645px;

        background-color: lightblue;
        background-image: url("../img/iphone-6.png");
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: auto;

        @include media-tablet {
            background-image: url("../img/iphone-6-tablet.png");
            top: - 545px;
            min-height: 545px;
        }

        @include media-mobile {
            background-image: url("../img/iphone-6-mobile.png");
            background-position: right 100% bottom 100%;
            top: - 314px;
            min-height: 314px;
        }
    }

    &__textPart {
        display: flex;
        flex-direction: column;
        width: 25%;
        margin: 0 0 0 10px;

        @include media-tablet {
            width: 50%;
            @include padding-margin-clear;
        }

        @include media-mobile {
            width: auto;
            @include padding-margin-clear;
        }
    }

    &__slogan {
        color: white;
        font-size: 50px;
        font-weight: 300;
        text-align: center;
        margin: 20px 0 40px 0;

        @include media-mobile {
            display: none;
        }
    }

    &__button {
        @include media-mobile {
            margin: 350px 20px 0 20px;
        }
    }

    &__iconSet {
        display: flex;
        justify-content: space-around;
        margin: 46px 0 42px 0;

        @include media-mobile {
            justify-content: space-evenly;
        }
    }

    &__text {
        @include padding-margin-clear;
        text-align: center;
        font-size: 18px;
        line-height: 24px;

        @include media-mobile {
            margin: 0 14%;
            padding: 0 0 35px 0;
        }
    }
}

.wrapperMain {
    @include media-mobile {
        margin: 0;
    }
}