.wrapperMain.holder
    article.download
        .download__description
            p.download__slogan Взгляните на жизнь иначе!
            a(class='download__downloadApp button' href) Скачать приложение
            .download__iconSet
                img(class='download__iconItem ios' src='img/apple-logo.svg' alt='IOS')
                img(class='download__iconItem android' src='img/android-logo.svg' alt='Android')
                img(class='download__iconItem windows' src='img/microsoft-logo.svg' alt='Windows')

            p.download__text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
        picture
            source(media='(max-width: 767px)' src='img/apple-logo.svg')
            source(media='(max-width: 1299px)' srcset='img/iphone-6-tablet.png')
            img(class='headerLogo__img headerLogo__img--full' src='img/iphone-6.png' alt='Раскрась свои фотографии')