section.effect
h2.visually-hidden Эффект от приложения
.effect__container.wrapperMain.wrapper-mobile
    img(class='effect__img' src='img/timer.svg' alt='Эффект на 24 часа!')
    .effect__textBlock
        p.effect__title Эффект на 24 часа!
        p.effect__text Британские учёные провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
        a(class='effect__knowMore' href='index.html') Узнать больше об исследовании