section.feedback
  .wrapper-mobile.wrapperMain
    .feedback__wrapper.slider
      button.feedback__leftArrow.feedback__arrowButton
        span.feedbackArrow__text.feedbackArrow__text--left Предыдущий слайд
      .sliderwrapper
        .feedback__list.slider__list

          blockquote.feedback__item.slider__item
            .feedback__text
              b.feedback__authorsName.feedback__authorsName--top Николай Петров
              p.feedback__comment "Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А ещё я познакомился со своей будущей женой в комментариях к выложенной фотографии!"
              b.feedback__authorsName.feedback__authorsName--bottom Николай Петров
              p.feedback__authorsDescription 25 лет, водитель трамвая
              
          blockquote.feedback__item.slider__item
            .feedback__text
              b.feedback__authorsName.feedback__authorsName--top Николай Петров
              p.feedback__comment "Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А ещё я познакомился со своей будущей женой в комментариях к выложенной фотографии!"
              b.feedback__authorsName.feedback__authorsName--bottom Николай Петров
              p.feedback__authorsDescription 25 лет, водитель трамвая

          blockquote.feedback__item.slider__item
            .feedback__text
              b.feedback__authorsName.feedback__authorsName--top Николай Петров
              p.feedback__comment "Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А ещё я познакомился со своей будущей женой в комментариях к выложенной фотографии!"
              b.feedback__authorsName.feedback__authorsName--bottom Николай Петров
              p.feedback__authorsDescription 25 лет, водитель трамвая 
                 
      button.feedback__rightArrow.feedback__arrowButton
        span.feedbackArrow__text.feedbackArrow__text--right Следующий слайд
                       
    .feedback__toggles.slider__toggles
      button(class='slider__toggle slider__toggle--active' type='button' aria-label='Отзыв Трэвиса Баркера' id='slide1f')
      button(class='slider__toggle slider__toggle--active' type='button' aria-label='Отзыв 2' id='slide2f')
      button(class='slider__toggle slider__toggle--active' type='button' aria-label='Отзыв 3' id='slide3f')