section.opportunities
        h2.visually-hidden Нам есть что вам предложить
        .wrapper-mobile.wrapperMain.wrapperAS
          p.opportunities__question Устали от серости мегаполиса?
          p.oppotunities__answer Нам есть что вам предложить!
          ul.oportunities__list
            li.oportunities__item.oportunities__item--mood
              h3.oportunities__title Поднимает настроение
              p.oportunities__description Предложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
            
            li.oportunities__item.oportunities__item--world
              h3.oportunities__title Меняет мир вокруг
              p.oportunities__description Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект

            li.oportunities__item.oportunities__item--friends
              h3.oportunities__title Заводит новых друзей
              p.oportunities__description Ставьте лайки, комментируйте, делитесь фотографиями с друзьяи и заводите новых