section.download.mainBackground   
    h1.visually-hidden Сайт приложения Pink
    .wrapperMain
        .download__mainBlock
            .download__textPart
                p.download__slogan Взгляните на жизнь иначе!
                a(class='download__button button' href='index.html') Скачать приложение
                .download__iconSet
                    img(class='download__iconItem apple' src='img/apple-logo.svg')
                    img(class='download__iconItem android' src='img/android-logo.svg')
                    img(class='download__iconItem microsoft' src='img/microsoft-logo.svg')
                p.download__text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8