section.opportunities
    h2.visually-hidden Преимущества приложения
    .wrapperMain.wrapper-mobile
        p.opportunities__questionAnswer Устали от серости мегаполиса? Нам есть, что вам предложить!
        ul.opportunities__list 
            li.opportunities__item.opportunities__item--mood
                .opportunities__textBlock
                    h3.opportunities__title Поднимает настроение
                    p.opportunities__text Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
            li.opportunities__item.opportunities__item--world 
                .opportunities__textBlock
                    h3.opportunities__title Меняет мир вокруг
                    p.opportunities__text Сделайте снимок и украсьте его смайликом или текстовой надписью, чтобы усилить эффект
            li.opportunities__item.opportunities__item--friends 
                .opportunities__textBlock
                    h3.opportunities__title Заводит новых друзей
                    p.opportunities__text Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых

