section.pricelist.priceListPosition
    .wrapperMain
    h2.visually-hidden Тарифы
    article.pricelist__table.table.table--desktop
            .table__tr
                .table__th 
                .table__th.base.rate База
                .table__th.standart.rate Стандарт
                .table__th.unlim.rate Анлим

            .table__tr
                .table__th 
                .table__th.base.cost 1,99 USD
                .table__th.standart.cost 3,99 USD
                .table__th.unlim.cost 9,99 USD

            .table__tr
                .table__td.optionName Розовый фильтр
                .table__td.base 
                    img(class='table__check' src='img/yes.svg')
                .table__td.standart 
                    img(class='table__check' src='img/yes.svg')
                .table__td.unlim 
                    img(class='table__check' src='img/yes.svg')

            .table__tr
                .table__td.optionName Смайлики
                .table__td.base 
                    img(class='table__check' src='img/no.svg')
                .table__td.standart
                    img(class='table__check' src='img/yes.svg')
                .table__td.unlim
                    img(class='table__check' src='img/yes.svg')

            .table__tr
                .table__td.optionName Комментарии
                .table__td.base
                    img(class='table__check' src='img/no.svg')
                .table__td.standart
                    img(class='table__check' src='img/no.svg')
                .table__td.unlim 
                    img(class='table__check' src='img/yes.svg')

    .wrapper-mobile
        article.pricelist__table.table.table--mobile
                .table__tr
                    .table__th.base.rate База
                    .table__th.standart.rate Стандарт
                    .table__th.unlim.rate Анлим

                .table__tr
                    .table__th.base.cost 1,99 USD
                    .table__th.standart.cost 3,99 USD
                    .table__th.unlim.cost 9,99 USD

                .table__tr
                    .table__td.base 
                        .flex-container
                            span.optionNameMobile Розовый фильтр
                            img(class='table__check' src='img/yes.svg')
                    .table__td.standart 
                        .flex-container
                            span.optionNameMobile Розовый фильтр
                            img(class='table__check' src='img/yes.svg')
                    .table__td.unlim 
                        .flex-container
                            span.optionNameMobile Розовый фильтр
                            img(class='table__check' src='img/yes.svg')

                .table__tr
                    .table__td.base 
                        .flex-container
                            span.optionNameMobile Смайлики
                            img(class='table__check' src='img/no.svg')
                    .table__td.standart
                        .flex-container
                            span.optionNameMobile Смайлики
                            img(class='table__check' src='img/yes.svg')
                    .table__td.unlim
                        .flex-container
                            span.optionNameMobile Смайлики
                            img(class='table__check' src='img/yes.svg')

                .table__tr
                    .table__td.base
                        .flex-container
                            span.optionNameMobile Комментарии
                            img(class='table__check' src='img/no.svg')
                    .table__td.standart
                        .flex-container
                            span.optionNameMobile Комментарии
                            img(class='table__check' src='img/no.svg')
                    .table__td.unlim 
                        .flex-container
                            span.optionNameMobile Комментарии
                            img(class='table__check' src='img/no.svg')
                            
    .table__toggles.slider__toggles
      button(class='slider__toggle slider__toggle--active' type='button' aria-label='Отзыв Трэвиса Баркера' id='slide1p')
      button(class='slider__toggle slider__toggle--active' type='button' aria-label='Отзыв 2' id='slide2p')
      button(class='slider__toggle slider__toggle--active' type='button' aria-label='Отзыв 3' id='slide3p')