section.advantages
        h2.visually-hidden Наши преимущества
        .wrapper-mobile.wrapperMain.wrapperAS
          small.stats__legend.stats__legend-bottom * - приведенные данные - ложь
          ul.advantages__list
            li.advantages__item.advantages__item--fast
              h3.advantages__title Быстро
              p.advantages__description Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы - счастливый обладатель стильной стрижки-минутки
            
            li.advantages__item.advantages__item--cool
              h3.advantages__title Круто
              p.advantages__description Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. Во всяком случае внешне.

            li.advantages__item.advantages__item--pricey
              h3.advantages__title Дорого
              p.advantages__description Наши мастера - профессионалы своего дела и не могут стоить дёшево. К тому же, разве цена не дает определённый статус?

        .advantages__toggles.slider__toggles
          button(class='slider__toggle' type='button' aria-label='Преимущество Быстро' id='slide1')
          button(class='slider__toggle' type='button' aria-label='Преимущество Круто' id='slide2')
          button(class='slider__toggle' type='button' aria-label='Преимущество Дорого' id='slide3')