section.news
  span.wing.wing-advantages
  .wrapper-mobile.wrapperMain
    .news__titleButton
      h2.news__title Новости и акции
      a(class='news__showAll--top button' href='#') Показать всё

    ul.news__list
      li.news__item
        .news__flagDate
          .news__flagBackground
            time(datetime='2017-09-29')
              span.news__day 29 сент
          img(class='news__flagBottom' src='img/Vector Smart Object.png' width='' height='')
        a( class='news__text' href='#') Нам наконец завезли Ягермайстер! Теперь вы можете пропустить стаканчик во время стрижки.

      li.news__item
        .news__flagDate
          .news__flagBackground
            time(datetime='2017-09-19')
              span.news__day 19 cент
          img(class='news__flagBottom' src='img/Vector Smart Object.png' width='' height='')
        a( class='news__text' href='#') В нашей команде пополнение, Борис &laquoБритва&raquo, Стригунец, пополнил наши стройные ряды. Спешите записаться!

      li.news__item.close-new
        .news__flagDate
          .news__flagBackground
            time(datetime='2017-09-09')
              span.news__day 9 cент
          img(class='news__flagBottom' src='img/Vector Smart Object.png' width='' height='')
        a( class='news__text' href='#') Всё дорожает, а наши стрижки - нет! Как так? Приходите, постригитесь и узнаете, в чём здесь подвох.

    a(class='news__showAll--mobile button' href='#') Показать всё