@import "../mixins/media.scss";
@import "../utils/variables.scss";
@import "../mixins/mixins";

.footer {
    min-height: 1070px;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;

    &__bottomBlock {
        margin-top: 100%;
    }
}

.bottomBlock {
    background-color: #ffffff;

    @include media-mobile {
        display: none;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        min-height: 197px;
        align-items: center;
    }
}

.social {
    &__list {
        @include padding-margin-clear;
        list-style: none;
        display: flex;
    }

    &__item:not(:last-child) {
        margin: 0 7px 0 0;
    }

    &__item--twi {
        background-image: url("../img/twitter.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__item--fb {
        background-image: url("../img/facebook.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__item--youtube {
        background-image: url("../img/youtube.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__link {
        display: flex;
        outline: none;
        border: 3px solid #e9ebec;
        border-radius: 50%;
        box-sizing: border-box;

        @include same-size(51px);
    }
}

.copyright {
    display: flex;
    align-items: center;

    &__designed {
        margin: 0 14px 0 0;
    }

    &__link {
        outline: none;
    }
}

.contactsBlock {
    min-height: 370px;
    background-color: #ffffff;

    @include media-tablet {
        min-height: 405px;
    }

    @include media-mobile {
        min-height: 413px;
    }

    &__question {
        padding: 75px 0 73px 0;
        margin: 0;
        font-size: 50px;
        font-weight: 300;
        text-align: center;

        @include media-tablet {
            padding: 56px 0 57px 0;
        }

        @include media-mobile {
            padding: 48px 0 45px 0;
        }
    }

    &__contactsList {
        display: flex;
        justify-content: space-between;


        @include media-tablet {
            flex-wrap: wrap;
        }

        @include media-mobile {
            flex-direction: column;
        }
    }

    &__contactsItem {}

    &__title {
        margin: 0 0 29px 0;
        font-size: 18px;
        font-weight: bold;
        color: #283645;
        text-align: center;

        @include media-tablet {
            margin: 0 0 14px 0;
        }

        @include media-mobile {
            margin: 0 0 11px 0;
        }
    }

    &__info {
        @include padding-margin-clear;
        font-size: 24px;
        font-weight: 300;
        color: #d22856;
        text-align: center;
    }
}

.phone {
    margin: 0 10% 0 0;

    @include media-tablet {
        width: 45%;
    }

    @include media-mobile {
        padding: 0;
        margin: 0 0 29px 0;
    }
}

.address {
    margin: 0 10% 0 0;

    @include media-tablet {
        padding: 0;
        margin: 54px 0 0 0;
        order: 3;
        flex-grow: 1;
    }

    @include media-mobile {
        padding: 0;
        margin: 0 0 43px 0;
        order: 3;
    }
}

.email {
    @include media-tablet {
        order: 2;
        width: 45%;
    }

    @include media-mobile {
        padding: 0;
        margin: 0 0 29px 0;
        order: 2;
    }
}