@import "../mixins/mixins";


header {
    @include padding-margin-clear;

    @include media-tablet {
        margin: 260px 0 0 0;
    }

    @include media-mobile {
        margin: 260px 0 0 0;
    }
}

.headerNavigation {
    width: auto;
    height: 110px;
    @include padding-margin-clear;

    background-color: rgba(40, 54, 69, 0.5);

    @include media-mobile {
        height: 67px;
    }

    &__toggle {
        display: none;
    }

    &__logo {
        display: flex;
        align-items: center;

        @include media-tablet {
            height: 110px;
            padding: 0 3%;
        }

        @include media-mobile {
            height: 67px;
            padding: 0 6.25%;
        }
    }
}


.wrapperHeader {
    display: flex;
    justify-content: space-between;
    margin: 0 10.8%;

    @include media-tablet {
        position: relative;
        flex-direction: column;
        //min-height: 110px;
        margin: 0 auto;

        background-color: #1d2631;
    }

    @include media-mobile {
        position: relative;

        flex-direction: column;
        //min-width: 320px;
        //min-height: 67px;
        margin: 0 auto;

        background-color: #1d2631;
    }
}

.navMenu {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include padding-margin-clear;

    list-style: none;

    @include media-tablet {
        width: auto;
    }

    @include media-mobile {
        width: auto;
    }

    &__item--active {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 30px;
            bottom: -3px;
            left: 30px;

            height: 3px;

            background: #826560;
        }

        @include media-tablet {

            &--active::after {
                left: 0px;
            }
        }
    }

    &__link {
        @include common-menu-link;

        @include media-tablet {
            display: flex;
            height: 64px;
            align-items: center;
            justify-content: center;
            padding: 12px 21px;

            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            text-transform: uppercase;

            background-color: #283645;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #485461;
            //box-shadow: inset 5px 0 10px -5px #485461;
            box-sizing: border-box;
        }

        @include media-mobile {
            display: flex;
            height: 64px;
            align-items: center;
            justify-content: center;
            padding: 12px 21px;

            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            text-transform: uppercase;

            background-color: #283645;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #485461;
            //box-shadow: inset 5px 0 10px -5px #485461;
            box-sizing: border-box;
        }
    }
}

.headerNavigation--opened .headerNavigation__logo {
    background-color: #283645;

    @include media-tablet {
        height: 110px;
    }

    @include media-mobile {
        height: 70px;
    }
}

@include media-tablet {
    .headerNavigation__navMenu {
        display: block;
    }

    .navMenu__item--active::after {
        display: none;
    }

    .headerNavigation--closed .headerNavigation__toggle {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1000;

        display: block;
        width: 67px;
        height: 50px;

        background-color: #1d2631;

        cursor: pointer;
        border: none;
        outline: none;

        &:hover,
        &:active {
            background-color: #624530;
        }

        &:active {
            outline: none;
        }

        &::before,
        &::after {
            content: "";

            position: absolute;
            right: 20px;
            width: 35px;
            height: 2px;

            background-color: white;
        }

        &::before {
            top: 15px;
            left: 17px;
        }

        &::after {
            top: 35px;
            left: 17px;
        }
    }

    /*
    .headerNavigation--closed .toggle__line {
        position: absolute;
        top: 24px;
        left: 17px;
        width: 35px;
        height: 2px;

        display: block;

        background-color: white;
    }
*/
    .headerNavigation--opened .headerNavigation__toggle {
        position: absolute;
        top: 30px;
        right: 30px;
        left: auto;
        z-index: 2;

        display: block;
        width: 70px;
        height: 50px;

        background-color: #283645;

        cursor: pointer;
        border: none;
        outline: none;

        &::before,
        &::after {
            content: "";

            position: absolute;
            top: 24px;
            left: 18px;

            width: 36px;
            height: 2px;

            background-color: #ffffff;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

        &:hover,
        &:active {
            background-color: #624530;
        }

        &:active {
            outline: none;
        }
    }

    .headerNavigation--closed .navMenu__item {
        display: none;
    }

    .headerNavigation--opened .wrapperHeader {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }
}

@include media-mobile {
    .headerNavigation__navMenu {
        display: block;
    }

    .navMenu__item--active::after {
        display: none;
    }



    .headerNavigation--closed .headerNavigation__toggle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;

        display: block;
        width: 67px;
        height: 50px;

        background-color: #1d2631;

        cursor: pointer;
        border: none;
        outline: none;

        &:hover,
        &:active {
            background-color: #624530;
        }

        &:active {
            outline: none;
        }

        &::before,
        &::after {
            content: "";

            position: absolute;
            right: 20px;
            width: 35px;
            height: 2px;

            background-color: white;
        }

        &::before {
            top: 15px;
            left: 17px;
        }

        &::after {
            top: 35px;
            left: 17px;
        }
    }

    /*
    .headerNavigation--closed .toggle__line {
        position: absolute;
        top: 24px;
        left: 17px;
        width: 35px;
        height: 2px;

        display: block;

        background-color: white;
    }
*/
    .headerNavigation--opened .headerNavigation__toggle {
        position: absolute;
        top: 10px;
        right: 0;
        left: auto;
        z-index: 2;

        display: block;
        width: 70px;
        height: 50px;

        background-color: #283645;

        cursor: pointer;
        border: none;
        outline: none;

        &::before,
        &::after {
            content: "";

            position: absolute;
            top: 24px;
            left: 18px;

            width: 36px;
            height: 2px;

            background-color: #ffffff;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

        &:hover,
        &:active {
            background-color: #624530;
        }

        &:active {
            outline: none;
        }
    }

    .headerNavigation--closed .navMenu__item {
        display: none;
    }

    .headerNavigation--opened .wrapperHeader {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }
}

.navMenu__link[href]:focus,
.navMenu__link[href]:hover {
    color: #000000;
    background-color: #ffffff;

    @include media-tablet {
        color: #534033;

        background-color: #000000;
    }

    @include media-mobile {
        background-color: #583921;
    }
}

.navMenu__link[href]:active {
    background-color: #ffffff;
    color: #9a9a9a;

    @include media-tablet {
        color: #9a9a9a;

        background-color: #000000;
    }

    @include media-mobile {
        color: #917d6f;

        background-color: #392a1f;
    }
}

.logo__img {
    display: block;
    @include padding-margin-clear;

    @include media-tablet {

        margin: 0 0 0 20px;
    }

    @include media-mobile {
        margin: 0 0 0 0;
    }

}