extends common/layout

block content
    .contest.contestPosition
        .contest__wrapper
            form(class='contest__form' action='#' method='POST')
                    
                include includes/form/section-names


    include includes/form/block-failure
    include includes/form/block-success