extends common/layout
block content
  main.main
    h1.visually-hidden Pink
    include includes/index/section-download
    include includes/index/section-opportunities
    include includes/index/section-effect
    include includes/index/section-feedback
    include includes/index/section-pricelist