extends common/layout
block content
  main.main
    h1.visually-hidden Pink
    include includes/index/section-download
    include includes/index/section-advantages
    include includes/index/section-news
    include includes/index/section-feedback