section.ourWorks.ourWorksPosition
    span.wing--top
    .ourWorks__wrapper
        .ourWorks__titleButton
            h2.ourWorks__title Наши работы
            a(class='ourWorks__toMainPage button' href='index.html') На Главную

        article.workOfMonth.workOfMonthPosition
            picture
                source(media='(max-width: 767px)' srcset='img/lzhepyotr-mobile.jpg 1x, img/lzhepyotr-mobile@2x.jpg 2x')
                source(media='(max-width: 1299px)' srcset='img/lzhepyotr-tablet.jpg 1x, img/lzhepyotr-tablet@2x.jpg 2x')
                img(class='workOfMonth__img' src='img/lzhepyotr-desktop.jpg' srcset='img/lzhepyotr-desktop@2x.jpg 2x' alt='Фото Лжепетра Мчиславского')

            .workOfMonth__description
                p.workOfMonth__subtitle Лжепётр Мчиславский
                p.workOfMonth__text Где я только не стригся, но так, как делаете это вы - не умеет никто другой! Еще раз спасибо и до скорого!

                .workOfMonth__iconsSets
                    .workOfMonth__iconSet.hairCutSet
                        img(class='workOfMonth__iconItem scissors' src='img/scissors-icon.png' width='21' height='20')
                        p.workOfMonth__typeofService.haitcut Стрижка

                    .workOfMonth__iconSet.shavingSet
                        img(class='workOfMonth__iconItem beard' src='img/beard-icon.png' width='23' height='21')
                        p.workOfMonth__typeofService.shaving Бритье

                    .workOfMonth__iconSet.mustacheCuttingSet
                        img(class='workOfMonth__iconItem mustache' src='img/mustache-icon.png' width='45' height='12')
                        p.workOfMonth__typeofService.mustache-cutting Усы

        .ourWorks__list
            article.ourWorks__item.Maltsev
                picture
                    source(media='(max-width: 767px)' srcset='img/maltsev-mobile.jpg 1x, img/maltsev-mobile@2x.jpg 2x')
                    source(media='(max-width: 1299px)' srcset='img/maltsev-tablet.jpg 1x, img/maltsev-tablet@2x.jpg 2x')
                    img(class='workOfMonth__img' src='img/maltsev-desktop.jpg' srcset='img/maltsev-desktop@2x.jpg 2x' alt='Фото Саши Мальцева')

                .ourWorks__description
                    p.ourWorks__subtitle Саша Мальцев
                    p.ourWorks__text Попросил омолодить и омолодили! 
                    p.workOfMonth__text Кто теперь скажет, что мне 45?

                    .ourWorks__iconsSets
                        .ourWorks__iconSet.hairCutSet
                            img(class='ourWorks__iconItem scissors' src='img/scissors-icon.png')
                            p.ourWorks__typeofService.haircut Стрижка

            article.ourWorks__item.Ivanych
                picture             
                    source(media='(max-width: 767px)' srcset='img/ivanych-mobile.jpg 1x, img/ivanych-mobile@2x.jpg 2x')
                    source(media='(max-width: 1299px)' srcset='img/ivanych-tablet.jpg 1x, img/ivanych-tablet@2x.jpg 2x')
                    img(class='workOfMonth__img' src='img/ivanych-desktop.jpg' srcset='img/ivanych-desktop@2x.jpg 2x' alt='Фото Владимира Иваныча')

                .ourWorks__description
                    p.ourWorks__subtitle Владимир Иваныч
                    p.ourWorks__text К зимнему сезону - готов!

                    .ourWorks__iconsSets
                        .ourWorks__iconSet.shavingSet
                            img(class='ourWorks__iconItem beard' src='img/beard-icon.png' width='23')
                            p.ourWorks__typeofService.beard Борода

                        .ourWorks__iconSet.mustacheCuttingSet
                            img(class='ourWorks__iconItem mustache' src='img/mustache-icon.png' width='45' height='12')
                            p.ourWorks__typeofService.mustache-cutting Усы

            article.ourWorks__item.Vinston
                picture
                    source(media='(max-width: 767px)' srcset='img/vinston-mobile.jpg 1x, img/vinston-mobile@2x.jpg 2x')
                    source(media='(max-width: 1299px)' srcset='img/vinston-tablet.jpg 1x, img/vinston-tablet@2x.jpg 2x')
                    img(class='workOfMonth__img' src='img/vinston-desktop.jpg' srcset='img/vinston-desktop@2x.jpg 2x' alt='Фото Винстона Синего')

                .ourWorks__description
                    p.ourWorks__subtitle Винстон Синий
                    p.ourWorks__text Как только зарастаю и волосы
                    //-p.workOfMonth__text начинают мешать видеть - бегом 
                    //-p.workOfMonth__text в Бородинский!

                    .ourWorks__iconsSets
                        .ourWorks__iconSet.hairCutSet
                            img(class='ourWorks__iconItem scissors' src='img/scissors-icon.png')
                            p.ourWorks__typeofService.haircut Стрижка