section.pricelist.pricelistPosition
    span.wing--middle
    .pricelist__wrapper
        h2.pricelist__title Прейскурант

        .pricelist__timeBlock.pricelist__timeBlockPosition

            article.pricelist__table
                .pricelist__table-tbody
                    .pricelist__table-tr
                        .pricelist__table-th 1
                        .pricelist__table-td.typeOfService Классическая стрижка
                            span.mobile-only (с мытьём головы)

                        .pricelist__table-td.cell-none с мытьём головы
                        .pricelist__table-td.price 1 500 руб.

                    .pricelist__table-tr
                        .pricelist__table-th 2
                        .pricelist__table-td.typeOfService Современный вариант
                            span.mobile-only (с мытьём головы)

                        .pricelist__table-td.cell-none с мытьём головы
                        .pricelist__table-td.price 1 500 руб.

                    .pricelist__table-tr
                        .pricelist__table-th 3
                        .pricelist__table-td.typeOfService Индивидуальный подход
                            span.mobile-only (с мытьём головы)

                        .pricelist__table-td.cell-none с мытьём головы
                        .pricelist__table-td.price 2 000 руб.

                    .pricelist__table-tr
                        .pricelist__table-th 4
                        .pricelist__table-td.typeOfService Бритье бороды
                            span.mobile-only (без мытья)

                        .pricelist__table-td.cell-none без мытья
                        .pricelist__table-td.price 500 руб.

                    .pricelist__table-tr
                        .pricelist__table-th 5
                        .pricelist__table-td.typeOfService Бритье головы
                            span.mobile-only (с мытьём головы)

                        .pricelist__table-td.cell-none с мытьём головы
                        .pricelist__table-td.price 1 000 руб.

            article.pricelist__time.time
                picture
                    source(media='(max-width: 767px)' srcset='img/clock-mobile.svg')
                    source(media='(max-width: 1299px)' srcset='img/clock-tablet.svg')
                    img(class='time__img' src='img/clock-desktop.svg' alt='Часы работы')

                p.time__sales-hours С 10:00 до 14:00 скидка 20%
    span.wing--bottom
